<% debug_value = {} if local_assigns[:debug_value].nil? %>
<% origin = nil if local_assigns[:origin].nil? %>

<div class="panel panel-default">
  <div class="panel-heading">
    <% if story_result.story_to_thread %>
        <a
        href="https://forums.darklordpotter.net/threads/<%= story_result.story_to_thread.thread_id %>/"
        data-thread-id="<%= story_result.story_to_thread.thread_id %>"
        class="pull-right thread-link">
        DLP <%= number_with_precision(story_result.story_to_thread.score, precision: 2) %> <i class="fa fa-star"></i></a>
    <% end %>
    <% if context.read?(story_result) %>
        <a
            class="pull-right thread-link"
            data-story="<%= story_result.title %>"
            target="_blank"
            rel="nofollow noopener"
            href="https://www.fanfiction.net/s/<%= story_result.id %>/<%= [context.read?(story_result)+1, story_result.chapters].min %>">
          <i class="fa fa-check" title="Read up to chapter <%= context.read?(story_result) %>"></i>
          <% if context.read?(story_result) < story_result.chapters %>
            <%= story_result.chapters - context.read?(story_result) %> chapters available
          <% end %>
        </a>
    <% end %>
    <h3 class="panel-title">
      <a
              class="story-link"
              data-story="<%= story_result.title %>"
              data-story-origin="<%= origin %>"
              data-story-id="<%= story_result.id %>"
              rel="nofollow noopener"
              target="_blank"
              href="<%= story_result.url %>"><%= story_result.title %></a>
      by
      <a
              class="author-link"
              data-author="<%= story_result.author.id %>"
              rel="nofollow noopener"
              target="_blank"
              href="<%= story_result.author.url %>"><%= story_result.author.name %></a>

      <% if Rails.env.development? %>
          <i class="fa fa-list" title="<%= debug_value.try(:inspect) %>" data-toggle="tooltip"></i>
      <% end %>
      <% if context.opened?(story_result) and !context.read?(story_result) %>
          <i class="fa fa-eye pull-right" title="Last opened <%= context.opened?(story_result).created_at %>"></i>
      <% end %>
      <% if story_result.stale? %>
          <span
            class="label label-danger"
            title="Story may no longer exist, reindexing operations haven't seen this result recently.">
              Stale Result (Last seen: <%= timeago_tag story_result.last_seen %>)
          </span>
      <% end %>
    </h3>
  </div>
  <div class="story-summary panel-body">
    <%= story_result.summary %>
    <div>
      <hr />
      <%= classify(context, story_result) do %>
        <i class="text-muted fa fa-question-circle xsmall"
           title="Content tags are derived from story attributes such as the summary and characters."></i>
      <% end %>
      <span class="pull-right">
        <div class="btn-group">
        <% if current_user %>
          <% if context.queued?(story_result)%>
            <button type="button" data-story-id="<%= story_result.id -%>" data-state="in-queue" class="read-it-later btn btn-xs btn-default text-muted">
              <i class="fa fa-minus"></i>
              Remove from queue
            </button>
          <% else %>
            <button type="button" data-story-id="<%= story_result.id -%>" data-state="out-of-queue" class="read-it-later btn btn-xs btn-default text-muted">
              <i class="fa fa-plus"></i>
              Add to queue
            </button>
          <% end %>
        <% end %>
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Other stories by Author', author_by_id_path(story_result.author) %></li>
            <% if current_user %>
              <li role="separator" class="divider"></li>
              <li><a class="hide-story" data-story-id="<%= story_result.id -%>">Hide Story</a></li>
              <li><a class="hide-author" data-author-id="<%= story_result.author.id -%>">Hide Stories by Author</a></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li>
              <a class="report-broken" data-story-id="<%= story_result.id %>" title="Flag as broken link">
                <i class="fa fa-flag"></i> Report Broken Link
              </a>
            </li>
          </ul>
        </div>


      </span>
    </div>
  </div>
  <div class="panel-footer small">
    <%
      story_fandoms = context.fandoms(story_result)
      selected_fandoms = if @search
                            @search.fandoms
                          else
                            [story_fandoms[0].id]
                          end
       selected_crossovers = if @search
                               @search.crossovers
                             else
                               []
                             end

       fandom = story_fandoms
           .select { |f| selected_fandoms.include?(f.id) }
           .first
       crossover = story_fandoms
           .select { |f| f != fandom }
           .first
    %>
    <% if selected_fandoms.size > 1 && fandom %>
        <% if story_result.crossover? %>
            <i class="fa fa-random"></i>
            <%= fandom.name %> x <%= crossover.name %>
        <% else %>
            <i class="fa fa-book"></i>
            <%= story_fandoms[0].name %>
        <% end %>
        -
    <% elsif (selected_crossovers.size > 0 or (@fandoms && @fandoms.include?(-1))) && crossover %>
        <i class="fa fa-random"></i>
        <%= crossover.name %>
        -
    <% end %>
    <% unless @fandoms %>
        <% if story_result.crossover? %>
            <i class="fa fa-random"></i>
            <%= story_fandoms.map(&:name).join(' x ') %>
        <% else %>
            <i class="fa fa-book"></i>
            <%= story_fandoms[0].name %>
        <% end %>
        -
    <% end %>
    <span class="pull-right text-muted"
          title="Updated: <%= story_result.updated %>"
          am-time-ago="item.updated"><%= timeago_tag story_result.updated, :limit => 2.years.ago %></span>
    <strong title="Published: <%= story_result.published %>">
      <%= story_result.status %>
    </strong>
    - <%= Scryer::Constants::RATING.key(story_result.rated.downcase) %>
    - <%= extract_names(context.categories(story_result), '/') %>
    - <%= show_characters(context, story_result) %>
    - <%= number_with_delimiter(story_result.words) %> words
    - <%= pluralize(story_result.chapters, 'chapter') %>
    - <%= number_with_delimiter(story_result.reviews) %> reviews
    <span class="text-muted">
      - <%= number_with_delimiter(story_result.favs) %> favorites
      - <%= number_with_delimiter(story_result.follows) %> follows
    </span>
  </div>
</div>
