<% if !current_user %>
<div class="alert alert-success" role="alert">
  <p>
    Logged in users gain access to saved searches, story open history, read it later functionality and much much more.
  </p>
  <p>
    <% if cookies[:dlp_dm] %>
      You're a DLP user so you have really have no excuse.
      <%= form_tag('https://forums.darklordpotter.net/sso', authenticity_token: false, method: :get) do |f| %>
          <button class="btn btn-default" type="submit">Sign in with DLP</button>
      <% end %>
    <% else %>
        <%= link_to 'Sign up', new_user_registration_path %> or
        <%= link_to 'Login', new_user_session_path %>
    <% end %>
  </p>
</div>
<% end %>
<div id="search">
  <% if @search.errors.any? %>
      <div id="error_explanation">

        <h2>Error submitting search</h2>

        <div class="alert alert-warning">
          <ul>
            <% @search.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>

  <h2><i class="fa fa-search text-muted"></i> Advanced Search</h2>
  <%= form_tag(search_path, :method => :get, :id=>'advanced_search') do |f| %>
    <% if user_signed_in? %>
      <div class="row">
        <div class="form-group col-lg-6">
          <label for="saved_searches">Saved Searches</label>
          <select class="form-control"
                  name="saved_search_id"
                  id="saved_search_id"
                  data-placeholder="Saved Searches">
            <option value=""></option>
            <%= options_from_collection_for_select(
                    current_user.saved_searches.joins(:search).includes(:search).all,
                    :hash_id,
                    :search_name_with_fandoms,
                    params[:saved_search_id])
            %>
          </select>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="search[fandoms][]">Fandom</label>
        <select multiple
                class="form-control"
                name="search[fandoms][]"
                id="search[fandoms][]"
                data-placeholder="Choose source fandoms">
          <option disabled></option>
          <%= options_from_collection_for_select(Fandom.indexed_fandoms, :id, :name, @search[:fandoms] || ['224']) %>
        </select>
        <div class="visible-sm-block visible-xs-block">
          <button type="button" id="clear_fandoms" class="btn-sm btn btn-success">Clear Fandoms</button>
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="crossovers">Crossover</label>
        <select multiple
                class="form-control"
                name="search[crossovers][]"
                id="search[crossovers][]"
                data-placeholder="Choose fandoms (if any)">
          <option disabled></option>
          <%= options_from_collection_for_select(@fandom_facets, :id, :name, @search[:crossovers]) %>
        </select>
        <%= check_box_tag 'search[include_source_fandoms]', 'true', @search[:include_source_fandoms] %> Include Source Fandoms
        <%= check_box_tag 'search[exclude_crossover_fandoms]', 'true', @search[:exclude_crossover_fandoms] %> Exclude Crossover Fandoms
        <div class="visible-sm-block visible-xs-block">
          <button type="button" id="clear_crossovers" class="btn-sm btn btn-success">Clear Crossovers</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12">
        <label for="search[title]">Title</label>
        <input id="search[title]" name="search[title]" type="text" class="form-control" placeholder="Title" autocomplete="on" autofocus="autofocus" value="<%= @search[:title] %>"/>
      </div>
      <div class="form-group col-lg-12">
        <label for="search[title]">Author</label>
        <input id="search[author]" name="search[author]" type="text" class="form-control" placeholder="Author" autocomplete="on" value="<%= @search[:author] %>"/>
      </div>
      <div class="form-group col-lg-12">
        <label for="search[summary]">Summary</label>
        <input id="search[summary]" name="search[summary]" type="text" class="form-control" placeholder="Summary keywords" autocomplete="on" value="<%= @search[:summary] %>"/>
        <span class="help-block">
          <a rel="nofollow" href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html">Lucene Query Syntax</a>
          e.g. <code>-slash +Harry timetravel</code> must not have slash, must contain Harry, may contain timetravel.
          Operands may be combined with boolean operators (e.g. <code>harry OR (+AU -slash)</code>). Terms can be followed by
          stars (<code>*</code>) for wildcards and fuzzy-searches done with <code>term~0.5</code> or a full phrase <code>"my phase"~</code>.
          These apply to title, author, and summary fields.
        </span>
      </div>
    </div>

    <h3><i class="fa fa-archive text-muted"></i> Categories</h3>
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="search[category_required][]">Required Categories (max: 2)</label>
        <select chosen
                multiple
                max-selected-options="2"
                class="form-control"
                data-placeholder="Choose up to 2 required categories"
                name="search[category_required][]"
                id="search[category_required][]">
          <option disabled></option>
          <%= options_from_collection_for_select(Category.all_cached, :id, :name, @search[:category_required]) %>
        </select>
      </div>
      <div class="form-group col-lg-6">
        <label for="search[category_optional_exclude]" data-type="Categories">
          <%= included_text(@search[:category_optional_exclude], 'Categories') %>
        </label>
        <div class="input-group">
          <span class="input-group-addon">
            <%= check_box_tag 'search[category_optional_exclude]', 'true', @search[:category_optional_exclude] %> Exclude
          </span>
          <select multiple
                  class="form-control"
                  data-placeholder="Choose some categories"
                  name="search[category_optional][]"
                  id="search[category_optional][]">
            <option disabled></option>
            <%= options_from_collection_for_select(Category.all_cached, :id, :name, @search[:category_optional]) %>
          </select>
        </div>
      </div>
    </div>

    <h3><i class="fa fa-users text-muted"></i> Characters</h3>
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="search[character_required][]">Required Characters (max: 4)</label>
        <select multiple
                class="form-control character_list"
                data-placeholder="Choose up to 4 required characters"
                name="search[character_required][]"
                id="search[character_required][]">
          <option disabled></option>
          <%= options_from_collection_for_select(@characters, :id, :name, @search[:character_required]) %>
        </select>
        <div class="visible-sm-block visible-xs-block">
          <button type="button" id="clear_character_required" class="btn-sm btn btn-success">Clear Characters</button>
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="search[character_optional_exclude]" data-type="Characters">
          <%= included_text(@search[:character_optional_exclude], 'Characters') %>
        </label>
        <div class="input-group">
          <span class="input-group-addon">
            <%= check_box_tag 'search[character_optional_exclude]', 'true', @search[:character_optional_exclude] %> Exclude
          </span>
          <select multiple
                  class="form-control character_list"
                  data-placeholder="Choose some characters"
                  name="search[character_optional][]"
                  id="search[character_optional][]">
            <option disabled></option>
            <%= options_from_collection_for_select(@characters, :id, :name, @search[:character_optional]) %>
          </select>
        </div>

        <div class="visible-sm-block visible-xs-block">
          <button type="button" id="clear_character_optional" class="btn-sm btn btn-success">Clear Characters</button>
        </div>
      </div>
    </div>

    <h3><i class="fa fa-heart text-muted"></i> Relationships</h3>
    <div id="shippingcontainer" class="row">
      <div id="shiprow-template" class="hidden form-group col-lg-12">
        <div class="input-group">
          <span class="input-group-addon">
            <%= check_box_tag 'search[relationships][x][partial]', true, false, class: 'ship_partial' %> Partial
          </span>
          <span class="input-group-addon">
            <%= check_box_tag 'search[relationships][x][exclude]', true, false, class: 'ship_exclude' %> Exclude
          </span>
          <select multiple
                  class="form-control"
                  data-placeholder="Choose up to 4 characters"
                  name="search[relationships][x][characters][]"
                  id="search[relationships][x][characters][]">
            <option disabled></option>
            <%= options_from_collection_for_select(@characters, :id, :name) %>
          </select>
          <span class="input-group-btn">
            <button id="remove_relationships[x]" class="btn btn-default btn-sm" type="button" disabled="disabled">Remove</button>
          </span>
        </div>
      </div>
      <% if @search[:relationships].empty? %>
        <%= render 'relationship_row', ship: { characters: [] }, index: 0  %>
      <% else %>
        <% @search[:relationships].each_with_index do |s, idx| %>
            <%= render 'relationship_row', ship: s, index: idx  %>
        <% end %>
      <% end %>
    </div>

    <div class="row col-lg-12">
      <button id="add_relationships" class="btn btn-default btn-sm" type="button">Add Criteria</button>
    </div>
    <span class="help-block">
      Each ship will be matched on an OR basis. That is, if you select <code>[Character A, Character B]</code>
      and <code>[Character A, Character C]</code>, this will match stories with <code>[A, B] OR [A, C]</code>.
      If <code>Partial</code> is enabled, then <code>[A, B]</code> would match <code>[A, B] OR [A, B, C]</code>.
      Excluded ships will be completely excluded.
      <p>
        <strong>Note 2:</strong> This <i>currently</i> only works for stories where the pairing is known by FFN.
        Pairing tags in the summary or implied pairings via the character list will not be honored.
      </p>

    </span>

    <h3><i class="fa fa-tag text-muted"></i> Tags</h3>
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="search[tags_include_ids][]">Include Tags</label>
        <select multiple
                class="form-control"
                data-placeholder="Tags to include from search"
                name="search[tags_include_ids][]"
                id="search[tags_include_ids][]">
          <option disabled></option>
          <%= options_from_collection_for_select(@tags, :id, :name, @search[:tags_include_ids]) %>
        </select>
        <div class="visible-sm-block visible-xs-block">
          <button type="button" id="clear_tags_include" class="btn-sm btn btn-success">Clear Tags</button>
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="search[tags_exclude_ids][]" data-type="Tags">Exclude Tags</label>
        <select multiple
                class="form-control"
                data-placeholder="Tags to exclude from search"
                name="search[tags_exclude_ids][]"
                id="search[tags_exclude_ids][]">
          <option disabled></option>
          <%= options_from_collection_for_select(@tags, :id, :name, @search[:tags_exclude_ids]) %>
        </select>
        <div class="visible-sm-block visible-xs-block">
          <button type="button" id="clear_tags_exclude" class="btn-sm btn btn-success">Clear Tags</button>
        </div>
      </div>
    </div>

    <h3><i class="fa fa-filter text-muted"></i> Filters</h3>
    <div class="row">
      <div class="form-group col-lg-3">
        <label for="search[language]">Language</label>
        <select class="form-control"
                name="search[language]"
                id="search[language]"
                data-placeholder="Any Language">
          <% Language.all_cached.each do |l| %>
            <option value="<%= l.name.downcase %>"<%= ' selected' if l.name == "English"%>><%= l.name %></option>
          <% end %>
        </select>
      </div>
      <div class="form-group col-lg-3">
        <label for="search[status]">Status</label>
        <select class="form-control"
                name="search[status]"
                id="search[status]"
                data-placeholder="Any Status">
          <%= options_for_select(Scryer::Constants::STATUS, @search[:status]) %>
        </select>
      </div>
      <div class="form-group col-lg-3">
        <label for="search[rating][]">Rating</label>
        <select multiple
                class="form-control"
                name="search[rating][]"
                id="search[rating][]">
          <option disabled></option>
          <%= options_for_select(Scryer::Constants::RATING, @search[:rating] || Scryer::Constants::RATING.values) %>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-3">
        <label for="search[wordcount_lower]">Wordcount Minimum</label>
        <input type="number" class="form-control" id="search[wordcount_lower]" name="search[wordcount_lower]" placeholder="0" value="<%= @search[:wordcount_lower] %>" min="0" max="2147483647" />
      </div>
      <div class="form-group col-lg-3">
        <label for="search[wordcount_upper]">Wordcount Maximum</label>
        <input type="number" class="form-control" id="search[wordcount_upper]" name="search[wordcount_upper]" placeholder="0" value="<%= @search[:wordcount_upper] %>" min="0" max="2147483647" />
      </div>
      <div class="form-group col-lg-3">
        <label for="search[chapters_lower]">Chapters Minimum</label>
        <input type="number" class="form-control" id="search[chapters_lower]" name="search[chapters_lower]" placeholder="0" value="<%= @search[:chapters_lower] %>" min="0" max="2147483647" />
      </div>
      <div class="form-group col-lg-3">
        <label for="search[chapters_upper]">Chapters Maximum</label>
        <input type="number" class="form-control" id="search[chapters_upper]" name="search[chapters_upper]" placeholder="0" value="<%= @search[:chapters_upper] %>" min="0" max="2147483647"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-3">
        <label for="search[favorites_lower]">Favorites Minimum</label>
        <input type="number" class="form-control" id="search[favorites_lower]" name="search[favorites_lower]" placeholder="0" value="<%= @search[:favorites_lower] %>" min="0" max="2147483647" />
      </div>
      <div class="form-group col-lg-3">
        <label for="search[favorites_upper]">Favorites Maximum</label>
        <input type="number" class="form-control" id="search[favorites_upper]" name="search[favorites_upper]" placeholder="0" value="<%= @search[:favorites_upper] %>" min="0" max="2147483647" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-3">
        <label for="search[published_after]">Published After</label>
        <input type="date" class="form-control" id="search[published_after]" name="search[published_after]" value="<%= @search[:published_after].try(:to_date) %>" />
      </div>
      <div class="form-group col-lg-3">
        <label for="search[published_before]">Published Before</label>
        <input type="date" class="form-control" id="search[published_before]" name="search[published_before]" value="<%= @search[:published_before].try(:to_date) %>" />
      </div>
      <div class="form-group col-lg-3">
        <label for="search[updated_after]">Updated After</label>
        <input type="date" class="form-control" id="search[updated_after]" name="search[updated_after]" value="<%= @search[:updated_after].try(:to_date) %>" />
      </div>
      <div class="form-group col-lg-3">
        <label for="search[updated_before]">Updated Before</label>
        <input type="date" class="form-control" id="search[updated_before]" name="search[updated_before]" value="<%= @search[:updated_before].try(:to_date) %>" />
      </div>
    </div>
    <% if current_user %>
      <div class="row">
        <div class="form-group col-lg-3">
          <label for="search[read_filter]">Open State</label>
          <select class="form-control"
                  name="search[read_filter]"
                  id="search[read_filter]">
            <option disabled></option>
            <%= options_for_select(Scryer::Constants::READ_FILTER, @search[:read_filter] || Scryer::Constants::READ_FILTER.values) %>
          </select>
        </div>
      </div>
    <% end %>

    <h3><i class="fa fa-sort-alpha-asc text-muted"></i> Sorting</h3>
    <div class="row">
      <div class="form-group col-lg-3">
        <label for="search[sort_by]">Sort By</label>
        <select class="form-control"
                name="search[sort_by]"
                id="search[sort_by]">
          <%= options_for_select(Scryer::Constants::SORTING, @search[:sort_by]) %>
        </select>
      </div>
      <div class="form-group col-lg-3">
        <label for="search[order_by]">Order</label>
        <select class="form-control"
                name="search[order_by]"
                id="search[order_by]">
          <%= options_for_select(Scryer::Constants::ORDERING, @search[:order_by]) %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-group">Search</button>
      <button type="reset" class="btn btn-warning btn-group">Reset</button>
    </div>
  <% end %>
  <script>
    init();
  </script>
</div>
