- s = saved_search.search

.panel.panel-default
  .panel-heading.clearfix
    = saved_search.name
    = link_to '[public link]', search_by_id_path(search_id: saved_search.hash_id)
    %span.text-muted
      —
      = Fandom.name_sentence(saved_search.search.merged_fandoms)
  .panel-body
    %ul
      - unless s.title.empty?
        %li.small
          %span.text-muted
            Title:
          = "\"#{s.title}\""
      - unless s.author.empty?
        %li.small
          %span.text-muted
            Author:
          = "\"#{s.author}\""
      - unless s.summary.empty?
        %li.small
          %span.text-muted
            Summary:
          = "\"#{s.summary}\""
      - if s.category_required
        %li.small
          %span.text-muted
            Required Categories:
          = Category.where(id: s.category_required).pluck(:name).join(', ')
      - if s.category_optional
        %li.small
          %span.text-muted
            - if s.category_optional_exclude
              Excluding
            - else
              Including
            Categories:
          = Category.where(id: s.category_optional).pluck(:name).join(', ')
      - if s.character_required
        %li.small
          %span.text-muted
            Required Characters:
          = Character.where(id: s.character_required).pluck(:name).join(', ')
      - if s.character_optional
        %li.small
          %span.text-muted
            - if s.character_optional_exclude
              Excluding
            - else
              Including
            Characters:
          = Character.where(id: s.character_optional).pluck(:name).join(', ')
      - if s.wordcount_lower || s.wordcount_upper
        %li.small
          = range(s.wordcount_lower, s.wordcount_upper)
          words
      - if s.chapters_lower || s.chapters_upper
        %li.small
          = range(s.chapters_lower, s.chapters_upper)
          chapters
    .pull-right.small
      = link_to 'Remove', [:user, saved_search], :method => :delete, :data => { :confirm => 'Are you sure?' }
  .panel-footer.small
    Sort:
    = Scryer::Constants::SORTING.key(s.sort_by)
    %span.text-muted
      = ' - '
      = "#{s.rating.collect{|r| r.upcase }.join(', ')}, "
      = s.language.capitalize
