%h2
  Saved Searches (alpha)

.alert.alert-warning
  Saved Searches are still a work in progress. Please report strangeness, UX awkwardness, or general feedback to
  = link_to 'the DLP thread.', 'https://forums.darklordpotter.net/showthread.php?t=32979'

- if @saved_searches.empty?
  .panel.panel-warning
    .panel-body
      You have no saved searches. You should save one. Just to see how it feels.

= render @saved_searches
