%h1 Hidden Authors and Stories

%p.lead Items you've hidden from view


%h2 Authors
- if @authors.length > 0
  %table.table.table-striped
    %thead
      %tr
        %td Author
        %td Stories
        %td
    %tbody
      - @authors.each do |hidden_author|
        %tr{data:{'author-id': hidden_author.author.id}}
          %td= hidden_author.author.name
          %td
            %ul.list-unstyled
              - hidden_author.author.stories.order(:id).each do |story|
                %li
                  %a{href: story.url}= story.title
          %td
            %button.btn.btn-xs.btn-danger.unhide-author{:type => 'button', data:{'author-id': hidden_author.author.id}}
              Unhide
- else
  %p No hidden authors.
%h2 Story
- if @stories.length > 0
  %table.table.table-striped
    %thead
      %tr
        %td Story
        %td Author
        %td
    %tbody
      - @stories.each do |hidden_story|
        %tr{data:{'story-id': hidden_story.story.id}}
          %td
            %a{href: hidden_story.story.url}= hidden_story.story.title
          %td
            = hidden_story.story.author.name
          %td
            %button.btn.btn-xs.btn-success{:type => 'button'}
              Hide Author
            %button.btn.btn-xs.btn-danger.unhide-story{:type => 'button', data:{'story-id': hidden_story.story.id}}
              Unhide
- else
  %p No hidden stories.
