%h1
  = "Stories by #{@author.name}"

%div
  - @stories.each do |story|
    .story
      = render :partial => 'search/story_result', locals: { context: @story_context, story_result: story, origin: 'author_page' }
